<div class="card-form-holder" *ngIf="data">
    <div class="card-holder single-card">
        <app-card [data]="data"></app-card>
    </div>

    <form [formGroup]="formGroup" (ngSubmit)="onSubmit()">
      <div class="inputs-wrapper">
        <div class="input-holder">
            <input type="text" id="alias" readonly formControlName="alias" required>
            <span class="mdi input-state"></span>
            <label for="alias">{{'CARD.ALIAS' | translate}}</label>
        </div>
        
        <div class="input-holder">
            <input
                type="text"
                id="pan"
                formControlName="pan"
                readonly
                required
            >
            <span class="mdi input-state"></span>
            <label for="pan">{{'CARD.PAN' | translate}}</label>
        </div>
        
        <div class="input-holder">
            <input
                type="text"
                id="exp"
                formControlName="exp"
                readonly
                required
            >
            <span class="mdi input-state"></span>
            <label for="exp">{{'CARD.EXP' | translate}}</label>
        </div>
      </div>

        <div class="description">{{'DELETE_CARD.DESCRIPTION' | translate}}</div>
        
      <div class="button-holder">
        <button class="button cancel-button secondary" type="button" (click)="cancel()">{{'DELETE_CARD.CANCEL_BUTTON' | translate}}</button>
        <button class="button" type="submit">{{'DELETE_CARD.SUBMIT_BUTTON' | translate}}</button>
      </div>
    </form>
</div>
