<app-select-card *ngIf="screen === 'select'"
  (onSelect)="selectCard($event)"
  (onDelete)="setScreen('delete', $event)"
  (onAdd)="setScreen('add')"
></app-select-card>

<app-add-card *ngIf="screen === 'add'"
  (onAdd)="addCard($event)"
  (onCancel)="setScreen('select')"
></app-add-card>

<app-delete-card *ngIf="screen === 'delete'"
  [data]="card"
  (onDelete)="deleteCard($event)"
  (onCancel)="setScreen('select')"
></app-delete-card>
